<div class="informaNacoesPrinci">

  <div class="container text-center">

    <div class="row">

      <div class="col">

        <div class="card" style="width: 18rem;">
          <ul class="lista">
            <li *ngFor="let item of dadosDaAPIAle, let i = index">
              <img src="{{item.flags.png }}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ item.name.common }}</h2>
              <p class="card-text">Population: <span class="population">{{ item.population }}</span></p>
              <p class="card-text">Region: <span class="region">{{ item.region }}</span></p>
              <p class="card-text">Capital: <span class="capital">{{ item.capital }}</span></p>
              <p class="card-text">languagem: <span class="capital">{{ item.languages.deu }}</span></p>
            </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="col">

        <div class="card" style="width: 18rem;">
          <ul class="lista">
            <li *ngFor="let item of dadosDaAPIUS, let i = index">
              <img src="{{item.flags.png }}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ item.name.common }}</h2>
              <p class="card-text">Population: <span class="population">{{ item.population }}</span></p>
              <p class="card-text">Region: <span class="region">{{ item.region }}</span></p>
              <p class="card-text">Capital: <span class="capital">{{ item.capital }}</span></p>
              <p class="card-text">languagem: <span class="capital">{{ item.languages.eng }}</span></p>
            </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="col">

        <div class="card" style="width: 18rem;">
          <ul class="lista">
            <li *ngFor="let item of dadosDaAPIBR, let i = index">
              <img src="{{item.flags.png }}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ item.name.common }}</h2>
              <p class="card-text">Population: <span class="population">{{ item.population }}</span></p>
              <p class="card-text">Region: <span class="region">{{ item.region }}</span></p>
              <p class="card-text">Capital: <span class="capital">{{ item.capital }}</span></p>
              <p class="card-text">languagem: <span class="capital">{{ item.languages.por }}</span></p>
            </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="col">

        <div class="card" style="width: 18rem;">
          <ul class="lista">
            <li *ngFor="let item of dadosDaAPIRUSS, let i = index">
              <img src="{{item.flags.png }}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ item.name.common }}</h2>
              <p class="card-text">Population: <span class="population">{{ item.population }}</span></p>
              <p class="card-text">Region: <span class="region">{{ item.region }}</span></p>
              <p class="card-text">Capital: <span class="capital">{{ item.capital }}</span></p>
              <p class="card-text">languagem: <span class="capital">{{ item.languages.rus }}</span></p>
            </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="col">

        <div class="card" style="width: 18rem;">
          <ul class="lista">
            <li *ngFor="let item of dadosDaAPICH, let i = index">
              <img src="{{item.flags.png }}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ item.name.common }}</h2>
              <p class="card-text">Population: <span class="population">{{ item.population }}</span></p>
              <p class="card-text">Region: <span class="region">{{ item.region }}</span></p>
              <p class="card-text">Capital: <span class="capital">{{ item.capital }}</span></p>
              <p class="card-text">languagem: <span class="capital">{{ item.languages.zho }}</span></p>
            </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="col">

        <div class="card" style="width: 18rem;">
          <ul class="lista">
            <li *ngFor="let item of dadosDaAPIIN, let i = index">
              <img src="{{item.flags.png }}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ item.name.common }}</h2>
              <p class="card-text">Population: <span class="population">{{ item.population }}</span></p>
              <p class="card-text">Region: <span class="region">{{ item.region }}</span></p>
              <p class="card-text">Capital: <span class="capital">{{ item.capital }}</span></p>
              <p class="card-text">languagem: <span class="capital">{{ item.languages.eng }}</span></p>
            </div>
            </li>
          </ul>
        </div>

      </div>



    </div>
  </div>

</div>


